
<div class="inner">
    <div class="box-left">
        
        <ul class="menu-footer">
            <li class="directory not-mobile"><a href="/directory/" data-count="4">Directory</a></li>
            <li class="jobs not-mobile"><a href="/jobs/" data-count="6">Jobs</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
            <li><a href="/cookies-policy/">Cookies Policy</a></li>
            <li><a href="/terms/">Legal Terms</a></li>
        </ul>
        <p>Private Cloud by <strong><a rel="nofollow" href="http://www.stackscale.com/" target="_blank">Stackscale</a></strong></p>
    </div>
    <div class="box-right">
        <div class="follow">Follow for inspiration on <a href="http://www.twitter.com/awwwards" target="_blank">Twitter</a> and <a href="http://www.facebook.com/awwwards/" target="_blank">Facebook</a></div>
    </div>
</div>
<div class="bt-gotop"></div>
<div class="overlay-content" style="display: none;"><div class="bts" style="display: block;"><div class="bt bt-close"></div></div><div class="spinner"></div></div>
