<!--<div class="container">
  <div class="row">
    <h1>Cart</h1>
    
  </div>

  <div class="row">
    <h1>Choose a payment method</h1>
    <p class="help-block">{{ errors }}</p><br>
    <div class="col-md-6">
      <form>
        <braintree-dropin options="paymentOptions">Loading...</braintree-dropin>
        <input type="submit" value="Purchase" />
      </form>
    </div>
  </div>
</div>
-->
<section id="content">
  <div class="block pt-0">
      <div class="inner">
              <div class="box-breadcrumb">
                  <div class="box-left">
                    <strong>SHOPPING CART</strong>                    
                  </div>                
              </div>
          </div>
      <div class="inner width-3">  
        <div class="box-block">   
          <ngcart-cart template-url="components/ngcart/cart.html"></ngcart-cart>            
        </div>
      </div>
      <div class="inner">
              <div class="box-breadcrumb">
                  <div class="box-left">
                    <strong>CHECKOUT</strong>                    
                  </div>                
              </div>
          </div>
          <div class="inner width-3"> 
            <div class="box-block">   
              <ngcart-checkout service="paypal" template-url="components/ngcart/checkout.html" settings="payPalSettings" class="ng-isolate-scope" ></ngcart-checkout>
            </div>
          </div> 
  </div>
</section>
             